name: On Release Published

# on:
#   release:
#     types: [published]
on:
  push:
    branches:
      - "feat/gh-actions"

jobs:
  publish-binaries:
    timeout-minutes: 20
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup Go
        uses: actions/setup-go@v4

      - name: Get dependencies
        run: |
          sudo apt-get update \
          && sudo apt-get install gcc \
          libgl1-mesa-dev libegl1-mesa-dev \
          libgles2-mesa-dev libx11-dev xorg-dev \
          libwayland-dev libxkbcommon-dev bc
      
      - name: Install FyneCLi tool
        run: go install fyne.io/fyne/v2/cmd/fyne@latest

      
      - name: Build Binary Linux
        run: make build-linux
      
      - name: Check
        run : ls && ls bin/